<h1 mat-dialog-title>Add new user</h1>
  <form [formGroup]="addForm">
    <mat-form-field>
      <input matInput placeholder="First Name" type="text" formControlName="firstName" required>
      <mat-error *ngIf="addForm.controls.firstName.invalid">You must enter a value</mat-error>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="Last Name" type="text" formControlName="lastName" required>
      <mat-error *ngIf="addForm.controls.firstName.invalid">You must enter a value</mat-error>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="Email" type="email" formControlName="email" required>
      <mat-error *ngIf="addForm.controls.email.invalid">{{ getEmailErrorMessage() }}</mat-error>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" required>
      <mat-hint>Password must have at least 4 chars</mat-hint>
      <mat-error *ngIf="addForm.controls.password.invalid">You must enter a value</mat-error>
    </mat-form-field><br>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [disabled]="addForm.invalid" type="submit" (click)="add()">Add</button>
  </form>
